@model IEnumerable<CinemaTicket.Models.MovieModels>

@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/_Layout - Movie.cshtml";
}

<div id="all">
    <div class="search">
        <form method="get"  action="@Url.Action("Index")" data-movies-ajax="true" data-movies-target="#movieList">
            <input type="search" name="searchString" data-movies-autocomplete="@Url.Action("AutoComplete")" placeholder="输入电影名称..." autocomplete="off">
            <input type="submit" value="搜索">
        </form>
    </div>

    <div id="filter">
        <br />
        <br />
        <br />
        <span class="tagName">类型：</span>
            <ul class="typeTags type">
                <li>
                    <a class="active" onclick="typeSearch(null,'type');">全部</a>
                </li>
                @foreach (var item in ViewBag.movieType)
                {
                    <li>
                        <a onclick="typeSearch('@item','type');" >@item</a>
                    </li>
                }

            </ul>
            <br />
            <br />
            <br />
            <span class="tagName">地区：</span>
            <ul class="typeTags movie-area">
                <li>
                    <a class="active" onclick="typeSearch(null, 'movie-area');">全部</a>
                </li>
                @foreach (var item in ViewBag.movieArea)
                {
                    <li>
                        <a onclick="typeSearch('@item','movie-area');">@item</a>
                    </li>
                }

            </ul>


</div>
    <br />
    <br />
        @Html.Partial("_Movies", Model)
    <div id="page">
    </div>
</div>