<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/img/logo.png" rel="shortcut icon" />
    <title>电影汇</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("电影汇", "Index", "Movie", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Movie")</li>
                    <li>@Html.ActionLink("取票流程", "getTicketFlow", "Movie")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                    @if (User.IsInRole("ordinary"))
                    {
                        <li>@Html.ActionLink("购物车", "shoppingCart", "Movie")</li>
                    }
                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("电影管理", "Index", "MovieManage")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - 电影汇售票系统</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/moviesScripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
